{% extends "base" %}

{% block content %}
    <p><h1>Cultures</h1></p>
    <div class="text">
      <p><b>Total:</b> {{ total }}</p>
      <ul>
      {% for c in cultures %}
        <li><a href="/culture/details/{{ c.0 }}">{{ c.1 }}</a></li>
      {% endfor %}
      </ul>
      <p><a href="/culture/new">Add</a></p>
      <p><a href="/">Back</a></p>
    </div>
{% endblock content %}
