h1 {
  text-align: center;
  color: blue;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  position: relative;
}

.grid-item {
  overflow: hidden;
}

.left_right_container {
  align-items: center;
  justify-content: normal;
}

.image {
  float: left;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}

.editor {
  font-size: 20px;
  padding-left: 20px;
  float: left;
}